@page "/counter"
@inherits LoadUserContext

<AuthorizeView>
    <Authorized>

        <PageTitle>Counter</PageTitle>

        <h1>Counter for @(_masp.m_login) or @(context.User.Identity.Name)</h1>

        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

@code {

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}
