@page "/counter"

<AuthorizeView>
    <Authorized>

        <PageTitle>Counter</PageTitle>

        <h1>Counter for @(auth.m_login)</h1>

        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] AuthenticationStateProvider i_authenticationStateProvider { get; set; }
    MyServerAuthenticationStateProvider auth;

    protected override void OnInitialized()
    {
        auth = (MyServerAuthenticationStateProvider)i_authenticationStateProvider;
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}
