@page "/"
@inject AuthenticationStateProvider i_authenticationStateProvider
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> i_localizer
@inherits LoadUserContext
@using System.Security.Claims

<AuthorizeView>
    <Authorized>

        <PageTitle>Index</PageTitle>

        <h1>@i_localizer["Hello"], @(auth.m_login) - @context.User.Identity.Name</h1>
        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?" />
        <button @onclick="(e)=>{auth.DoLogout();}">Logout</button>
        <button @onclick="(e)=>{auth.ApplyCulture(english, path);}">English</button>
        <button @onclick="(e)=>{auth.ApplyCulture(french, path);}">French</button>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

@code
{
    MyServerAuthenticationStateProvider auth;
    string path = "/";
    string french = "fr-FR";
    string english = "en-US";

    protected override void OnInitialized()
    {
        auth = (MyServerAuthenticationStateProvider)i_authenticationStateProvider;
    }
}