@page "/login"

<div style="display:flex;flex-direction:column;">
    <div>
        Your email<input type="text" @bind-value="@login" />
    </div>
    <div>
        Your password<input type="text" @bind-value="@password" />
    </div>
    <button style="width:70px;" @onclick="(e)=>Submit()">Submit</button>
</div>



